.footer {
    background: var(--blue-dark);
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    &__content {
        grid-column: 2 / 3;
        text-align: center;
        display: grid;
        gap: 70px;
    }
    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
    &__list {
        margin: 10px 10px;
        a {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: var(--white);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: var(--grey);
            }
        }
    }
}