.title {
    color: var(--white);
    margin-bottom: 30px;
    font-weight: 700;
    &_first {
        font-size: 45px;
        line-height: 55px;
    }
    &_second {
        font-size: 40px;
        line-height: 100%;
    }
}

.subtitle {
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.13em;
    color: var(--green-light);
    &_first {
        font-weight: 700;
        letter-spacing: 0;
    }
    &_second {
        font-size: 17px;
        line-height: 21px;
    }
    &_white {
        font-weight: 700;
        color: var(--white);
        letter-spacing: 0;
    }
}

@media (max-width: 991px) {
    .title {
        &_second {
            font-size: 36px;
        }
    }
}

@media (max-width: 576px) {
    .title {
        &_second {
            font-size: 20px;
        }
    }
    .subtitle {
        font-weight: 300;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.13em;
        color: var(--green-light);
        &_second {
            font-size: 15px;
            line-height: 21px;
        }
    }
}